# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [ ]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a.copy()

[1, 2, 3, 4, 5, 6]

In [ ]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
b = a[-3:]

[4, 5, 6]

In [ ]:
# @@@ Question 3: Create a list of numbers from 1 to 20
a = list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
a = list(range(2, 100, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def division(num1, num2):
    return num1 / num2

In [ ]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1,31):
    if (i % 15 == 0):
        print("fizzbuzz")
    elif (i % 3 == 0):
        print("fizz")
    elif (i % 5 == 0):
        print("buzz")
    else:
        print(i)

In [ ]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
ahmos = {"Gryo":9, "Burger":9, "Greek Salad":8, "Philly Steak":10}

In [ ]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd

df = pd.read_csv("../data/starbucks.csv")
type(df)

In [ ]:
# @@@ Questlion 9: select all rows with more than and including 400 calories
df[df["calories"] >= 400]

In [ ]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content
df[df["vitamin c"] > df["iron"]]

In [ ]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink
df["caffeine_per_cal"] = df["caffeine"] / df["calories"]
df.head()

In [32]:
# @@@ Question 12: what is the average calorie across all items?
df["calories"].mean()

np.float64(193.87190082644628)

In [34]:
# @@@ Question 13: how many different categories of beverages are there?
df["beverage_category"].nunique()

9

In [35]:
# @@@ Question 14: what is the average # calories for each beverage category?
bev = df.groupby("beverage_category")
bev
bev["calories"].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64